<!-- your html code here -->

<div class="row bg-black me-3 ms-4 mt-4">
   <h1 class="text-white">Contact</h1>
   <p class="text-white">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Voluptatem maiores illo quia tempora provident ullam quam itaque officiis dignissimos, doloribus et aliquam ad quos aperiam earum, voluptates eveniet. Eius, repudiandae.</p>


<div class="container bg-black">
   <div class="mb-3 row justify-content-center">
    <label for="staticEmail" class="col-lg-2 col-form-label ps-5 fw-bold text-white"> Your Email</label>
   
    <div class="col-lg-5">
      <input type="email" class="form-control" id="inputEmail">
    </div>
  </div>
  <div class="mb-3 row justify-content-center">
    <label for="inputPassword" class="col-lg-2 col-form-label ps-5 fw-bold text-white">Your message</label>
    <div class="col-lg-5">
      <div class="form-floating">
        <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>
        <label for="floatingTextarea2" class="text-muted mx-0">Please enter your message here...</label>
      </div>
   
      <div class="d-grid gap-2 d-lg-flex justify-content-lg-end mt-3">
        <button class="btn btn-primary me-lg-2" type="button">Submit</button>
        
      </div>
  

</div>


  
      

  


      