<!-- your html code here -->

    <div class="row bg-black ms-4 me-4 pt-3 pb-5">
        <div class="col-lg-2">
            <img src="https://photos.hotelbeds.com/giata/extras/big/ds/29937/29937_3.jpg" class="rounded-circle me-3 ms-5 mt-3 mb-3">
        </div>
        <div class="col-lg-10 ps-5">
            <h1 class="ms-5 ps-5 mt-2 text-white"> El Barrio Judío que debes visitar </h1>
            <p class="ms-5 ps-5 pt-3 text-white">El barrio judío, situado al norte de la Isla de los Museos, es nuestro favorito y otro de los lugares que visitar en Berlín más interesantes, donde aún a día de hoy encontrarás las huellas de la gran comunidad judía que vivía en esta zona antes de la Segunda Guerra Mundial.</p>
            <p class="ms-5 ps-5 text-white">Uno de los lugares más emotivos es Rosenstrasse, una calle en la que podrás ver el monumento Block der Frauen, dedicado a las mujeres alemanas casadas con judíos que consiguieron con sus manifestaciones, que sus maridos no fueran enviados a los campos de concentración.</p>
        </div>
    </div>
